.color-menu-container{
    display: flex;
}
div.color-item{
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: white;
}
div.color-item:first-child{
    color: black;
}
mat-icon{
    opacity: 0;
    position: relative;
    font-size: 20px!important;
    top: 10px;
    left: 11px;
    color: inherit;
}


div.color-item.active mat-icon{
    opacity: 1;
}
