<mat-toolbar [color]="'primary'">
	<mat-icon class="app-header-menu-icon" svgIcon="app-menu-open" (click)="onClickMenuIcon(sidenav)"  matTooltip="Основное меню"></mat-icon>
	<div class="example-button-row">
		<button mat-flat-button color="primary" *ngFor="let button of contentButtons" [routerLink]="button.link" routerLinkActive="active">{{button.text}}</button>
	</div>
	<span class="example-spacer"></span>
	<mat-icon class="local-menu-icon" matTooltip="Локальное меню" aria-label="Локальное меню" [matMenuTriggerFor]="menu" svgIcon="local-menu"></mat-icon>
	<mat-menu #menu="matMenu">
		<button mat-menu-item routerLink="/content/settings">
			<mat-icon>settings</mat-icon>
			<span>Настройки</span>
		</button>
	</mat-menu>
</mat-toolbar>
<mat-progress-bar class="app-progress-bar" mode="indeterminate" color="accent" *ngIf="progressVisible"></mat-progress-bar>
<mat-sidenav-container class="sidenav-container">
	<mat-sidenav class="mat-side-nav" #sidenav  [mode]="sideNavMode" [opened]="true">
		<app-contact-item *ngFor="let contact of contacts | async" [context]="contact" (click)="onClickContact(contact.uid)"></app-contact-item >
	</mat-sidenav>
	<mat-sidenav-content [@routerTransition]="getState(content)">
		<router-outlet  #content="outlet" ></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
<div class="permission-overlay" *ngIf="permissionOverlay">
	<div class="overlay-message">
			<p [innerHTML]="sanitizer.bypassSecurityTrustHtml(overlayMessage)"></p>
		<div class="button-group">
			<button class="phone-code-button"  mat-raised-button color="primary" (click)="getMessagingPermission()">Запросить</button>
		</div>
	</div>
</div>

